.manual-list p {
  margin: 0;
  padding: 0;
  text-indent: -1em;
  padding-left: 1.5em;
}
.number {
  display: inline-block;
  width: 1.5em;
  text-align: right;
}


.collapsible {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.collapsible-header {
  background: #f7f7f7;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background 0.3s;
}

.collapsible-header:hover {
  background: #eaeaea;
}

.collapsible-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}